[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-CommandsWithParameter=tmux-neww-here "%s";
Icon=urxvt
Name=tmux-console
X-XFCE-Commands=urxvt -name urxvt-jschx

